body{
  background-color: beige;
  font-size: 16px;
  text-align: center;
  padding-top: 5rem;
}

ul{
  list-style: none;
  text-align: initial;
}

.forms{
  display: inline-flex;
  gap: 1rem;
}

form{
  display: flex;
}

.todo{
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 1px 10px rgba(0,0,0,0.3);
  background-color: white;
  margin: 1rem 0;

  &__input{
    padding: 0.5rem;
    border: 1px solid black;
    outline: none;
    width: 80%;
  }
  &__list{
    max-width: 200px;
    margin: 0 auto;
  }
  &__item{
    flex: 1;
    font-size: 1.2em;
    padding-left: 0.5rem;
    // background-color: white;
  }
  &__btn{
    border: none;
    outline: none;
    background-color: black;
    color: white;
    padding: 0 0.5rem;
  }
}

.completed__btn,
.trash__btn{
  border: none;
  outline: none;
  background-color: black;
  color: white;
  padding: 0.5rem;
}

.completed__btn{
  background-color: rgba(black, 0.8);
}

.completed{
  text-decoration: line-through;
  opacity: 0.5;
}

.uil-check,
.uil-trash{ 
  pointer-events: none;
}

.filter-todos{
  border: 1px solid black;
  outline: none;
  padding-left: 0.5rem;
}

.delete-todos{
  background-color: black;
  color: white;
  border: none;
  outline: none;
  padding: 0 0.5rem;
}